<section class="card">
  <a class="text-capitalize" href="/content/{{id}}"><b><header>{{title}}</header></b></a>
  <p class="text-muted">by {{user.username}}, on {{format_date createdAt}}</p>
</section>